{% extends 'FirstBundle::layout.html.twig' %}

{% block banner %}
            <p>Seccion 2</p>
{% endblock %}

{% block contenido %}

               <h2>Seccion 2</h2>

               {{ include('FirstBundle::tabla.html.twig') }}

{% endblock %}
